.settings_fixed {
  position: fixed;
  top: 1.8em;
  right: 1em;
  z-index: 1000000000000;
}

.svg {
  // max-width: 800px;
  // rotate: 90deg;
  z-index: -111111110;
  position: absolute;
  filter: blur(25px);

  // top: -500px;
  // right: -150px;
}

.local-changer {
  cursor: pointer;
  background-color: $background;
  border-radius: 0.2em;
  border: 1px solid $grey;
  padding: 0.5em;
}

.local-changer-container {
  top: 1.4em;
  right: 5.5em;
  position: fixed;
  z-index: 1000000000000;
}

.arrow_setting {
  position: fixed;
  rotate: 180deg;
  width: 50px;
  top: 3.5em;
  right: 1.5em;
}
.title_switch_settings {
  position: fixed;
  top: 8.5em;
  right: 8em;
  text-align: center;
  font-size: 0.7em;
}
@media screen and (max-width: 1000px) {
  .local-changer-container {
    display: none;
  }
}

.networkFade {
  animation: networkFade 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes networkFade {
  from {
    transform: translateX(-80px);
  }

  to {
    transform: translateX(0);
  }
}
