.homeContainer {
  // font-size: 0.6em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.home-basic {
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-home-basic {
  display: flex;
  justify-content: end;
}
.chevron-home-basic {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  color: $blackPrimary;
  font-size: 200%;
}
