$blackPrimary2: #1d2424;
$blackPrimary: #221e1b;
$bluePrimary: #779db1;
$orangePrimary: #dea25e;

$yellowPrimary: #f4b02d;
$background: #fff3e5;
$backgroundSecondary: #ffe3c4;
$backgroundSecondary2: #fee6b7;
$brownPrimary: #55442b;
