$blackPrimary2: #1d2424;
$blackPrimary: #1b1d22;
$bluePrimary: #779db1;
$orangePrimary: #dea25e;

$yellowPrimary: #f4b02d;
$background: #f9f9f9;
$backgroundSecondary: #f8c750;
$backgroundSecondary2: #fee6b7;
$brownPrimary: #55442b;

$white: #f6f6f6;
$grey: #dedede;

$red: #ff4444;
$red2: #ff6666;
$blue: #167c96;
$blue2: #156175;
