@font-face {
  font-family: "BrassMono";
  src: url("../assets/fonts/brassMono.woff2");
}

@font-face {
  font-family: "sourcecodepro-regular";
  src: url("../assets/fonts/sourcecodepro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
}
html,
body {
  max-width: 100%;
  // overflow-x: hidden;
}
div,
li,
button,
input,
textarea,
span {
  font-family: "sourcecodepro-regular";
}
canvas {
  z-index: 1000000 !important;
}

.title {
  position: sticky;
  top: 75px;
  z-index: 1000;
  width: fit-content;
  border-bottom-right-radius: 0.5em;
  backdrop-filter: blur(10px);
  font-size: 1.5em;
  padding: 1em 5%;
  // padding-right: 0;
  padding-right: 1em;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .title {
    // height: 40px;
    background: unset;
    top: 0;
    padding: 1.5em;
    padding-right: 0.5em;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeIn2 {
  animation: fadeIn2 1s;
}
.fadeInWithDelay {
  animation: fadeIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.basicFade {
  animation: basicFade 2s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  from {
    transform: translateY(-300%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes basicFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
